@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


main{
    max-height: calc(100vh - 80px);
    display: flex;
}


nav{
    width: 200px;
    background-color: #000;
    overflow-y: auto;
}


nav img{
    width: 60%;
    padding: 20px 0 0 20px;
}

     /* research */


 a{
  display: inline-block;
  color: #c0bfbf;
  text-decoration: none;
}

a:hover{
   color: #fff;
}

.research{
  margin: 18px 0;
}

.research-tool{
    margin: 8px 18px;
}

.research-tool i{
    font-size: 16px;
    margin-right: 5px;
}

.selection{
    border-left: 3px solid rgb(200, 255, 0);
    margin-left: 0;
    padding-left: 15px;
}

.selection i, .selection span{
    color: #fff;
}


     /* playlist */
    
.playlist{
    color: #c0bfbf;
    margin-left: 20px;
}

.playlist h2{
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.playlist a i{
    padding: 8px;
    margin-right: 5px;
    color: #000;
    background-color: #c0bfbf;
}

.playlist a i:hover{
    background-color: #fff;
}



.name-playlists{
    max-height: 250px;
    margin-bottom: 100px;
}

.name-playlists a{
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

/* profile */

.profile{
    margin-left: 20px;
    font-size: 12px;
}

.profile a i{
    padding-right: 5px;
}

.profile .border{
    margin:8px 0;
    width: 150px;
    height: 1px;
    background-color: #c0bfbf;
}

.profile .fa-user{
    margin-right: 5px;
    padding: 5px;
    background-color: #c0bfbf;
    border-radius: 50%;
    color: #fff;
}

.profile span{
    font-size: 14px;
    font-weight: 900;
}

.icons-smartphone{
    display: none;
}


/* main-container-music */


#container{
    width: calc(100% - 200px);
    background-color: rgb(39, 36, 53);
    overflow-y: scroll;
}

 /* header container-music */

.header-container{
     width: calc(100% - 200px) ;
    height: 80px;
    background-color: rgba(33, 32, 39, 0.607);
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    z-index: 10;
}

.header-container a{
    font-size: 14px;
    margin-right: 40px;
    color: #fff;
    padding: 9px 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    letter-spacing: 2px;
}

.header-container a:hover{
    font-size: 16px;
    margin-right: 30px;
}


/* container-music  */


.menu{
    margin-top: 90px;
    text-align: center;
    font-size: 12px;
}

.menu a{
    padding: 10px;
}

.menu a span:first-child{
    border-bottom: 2px solid rgb(200, 255, 0);
    padding-bottom: 4px;
}



   /* albums */

   .albums h2{
    color: #fff;
    padding: 30px 0 5px 10px;
   }

   .albums h4{
    color: #c0bfbf;
    padding: 5px 0 10px 10px;
   }

    .albums-row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .album{
        margin: 15px 15px 15px 0;
        width: 200px;
        text-align: center;
        position: relative;
    }

    .album img{
        width: 200px;
        height: 200px;
        
    }

    .album .opacity-hover{
        width: 200px;
        height: 200px;
        background-color: #000;
        position: absolute;
        top: 0;
        opacity: 0%;
    }

   .fa-circle-play{
        position: absolute;
        font-size: 50px;
        color: #fff;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .opacity-hover:hover{
        opacity: 40%;
    }

    .album h5{
        color: #fff;
        padding: 5px 0;
    }

    .album h6{
        color: #c0bfbf;
    }





footer{
    
    height: 80px;
    background-color: #424242 ;
}





/* tablet md*/

@media screen and (max-width:780px){


    /* container-music  */
 
.menu a{
 font-size: 10px;
 padding: 8px;
}   

  /* album */

.album{
    margin: 15px 5px 15px 0;
    width: 130px;
}

.album img, .album .opacity-hover{
    width: 130px;
    height: 130px;
}

}


/* phone s */

@media screen and (max-width:540px){


    /* album */


.albums-row{
    display: flex;
    justify-content: space-evenly;
}

}




/* phone xs */

@media screen and (max-width: 480px){
   
    /* container  */

    #container, .header-container{
        width: calc(100% - 40px);
    }
    
     /* nav */

    nav{
        width: 40px;
    }

    .nav-container{
        display: none;
    }

    .icons-smartphone{
        width: 30px;
        height: 100%;
        margin: 0 auto;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #c0bfbf;
        
    }

    .upper-icons, .lower-icons {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .upper-icons i, .lower-icons i{
        padding: 5px 0;
    }

    .upper-icons .fa-spotify{
        font-size: 20px;
        color: #fff;
    }

    .lower-icons .fa-circle-down{
        font-size: 10px;
        margin-bottom: 6px;
    }

    .lower-icons .fa-user{
        font-size: 12px;
    padding: 5px;
    background-color: #c0bfbf;
    border-radius: 50%;
    color: #fff;
    }

   
    /* album */

    .album{
        margin: 15px 5px 15px 0;
        width: 180px;
    }
    
    .album img, .album .opacity-hover{
        width: 180px;
        height: 180px;
    }
    

}