*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    height: calc(100vh - 80px);
    display: flex;
}


nav{
    width: 200px;
    background-color: #000;
}



nav img{
    width: 60%;
    padding: 20px 0 0 20px;
}

     /* research */


nav a{
  display: inline-block;
  color: #c0bfbf;
  text-decoration: none;
}
    
nav a:hover{
   color: #fff;
}

.research{
  margin: 18px 0;
}

.research-tool{
    margin: 8px 18px;
}

.research-tool i{
    font-size: 16px;
    margin-right: 5px;
}

.selection{
    border-left: 3px solid rgb(200, 255, 0);
    margin-left: 0;
    padding-left: 15px;
}

.selection i, .selection span{
    color: #fff;
}


     /* playlist */
    
.playlist{
    color: #c0bfbf;
    margin-left: 20px;
}

.playlist h2{
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.playlist a i{
    padding: 8px;
    margin-right: 5px;
    color: #000;
    background-color: #c0bfbf;
}

.playlist a i:hover{
    background-color: #fff;
}



.name-playlists{
    height: 250px;
}

.name-playlists a{
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

/* profile */

.profile{
    margin: 50px 20px;
    font-size: 12px;
}

.profile a i{
    padding-right: 5px;
}

.profile .border{
    margin:8px 0;
    width: 150px;
    height: 1px;
    background-color: #c0bfbf;
}

.profile .fa-user{
    margin-right: 5px;
    padding: 5px;
    background-color: #c0bfbf;
    border-radius: 50%;
    color: #fff;
}

.profile span{
    font-size: 14px;
    font-weight: 900;
}








#container{
    width: calc(100% - 200px);
    background-color: blue;
    overflow-y: scroll;
}

.header-container{
     width: calc(100% - 200px) ;
    height: 80px;
    background-color: rgba(130, 88, 88, 0.598);
    position: fixed;
    top: 0;
}

.ciao{
    width: 40px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 80px;
}


footer{
    
    height: 80px;
    background-color: #424242 ;
}